{% extends 'base.html' %}

{% block title %}
Create Quiz | Coursify
{% endblock %}

{% block content %}

<div class="content">

    <div class="instructor-header">

        <div>
            <p class="small-heading">
                INSTRUCTOR
            </p>

            <h1>
                {{ page_title }}
            </h1>

            <p class="subtitle">
                Create a quiz for one of your courses.
            </p>
        </div>

    </div>


    <div class="detail-left">

        <form method="POST">

            {% csrf_token %}

            {% if form.non_field_errors %}

                <div class="form-error">
                    {{ form.non_field_errors }}
                </div>

            {% endif %}


            <div class="form-group">

                <label for="{{ form.course.id_for_label }}">
                    Course
                </label>

                {{ form.course }}

                {% if form.course.errors %}
                    <div class="form-error">
                        {{ form.course.errors }}
                    </div>
                {% endif %}

            </div>


            <div class="form-group">

                <label for="{{ form.title.id_for_label }}">
                    Quiz Title
                </label>

                {{ form.title }}

                {% if form.title.errors %}
                    <div class="form-error">
                        {{ form.title.errors }}
                    </div>
                {% endif %}

            </div>


            <div class="form-group">

                <label for="{{ form.description.id_for_label }}">
                    Description
                </label>

                {{ form.description }}

                {% if form.description.errors %}
                    <div class="form-error">
                        {{ form.description.errors }}
                    </div>
                {% endif %}

            </div>


            <div class="form-actions">

                <button
                    type="submit"
                    class="add-course-btn"
                >
                    {{ button_text }}
                </button>

                <a
                    href="{% url 'quiz_list' %}"
                    class="cancel-btn"
                >
                    Cancel
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}